<p>Welcome to the Home Page!</p>
<button (click)="logout()">Logout</button>

<div class="tableView">
  <table id="new">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let f = first">
        <td [ngClass]="{'one': f}">{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>
          {{user.address?.suite}}<br />
          {{user.address?.street}}<br />
          {{user.address?.city}}<br />
          {{user.address?.zipcode}}
        </td>
        
        <td>
          <button (click)="onEdit(user)">Edit</button> <!-- Pass full user object -->
        </td>
        <td>
          <button (click)="onDelete(user)">Delete</button> <!-- Pass full user object -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
