<div [formGroup]="userFormsGroup">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user; let i = index">
        {{ user.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user; let i = index">
        <input
          *ngIf="editingRowId === user.id"
          [formControl]="userForms.at(i).get('name')"
        />
        <span *ngIf="editingRowId !== user.id">{{ user.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user; let i = index">
        <input
          *ngIf="editingRowId === user.id"
          [formControl]="userForms.at(i).get('email')"
        />
        <span *ngIf="editingRowId !== user.id">{{ user.email }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let user; let i = index">
        <div *ngIf="editingRowId === user.id">
          <input
            placeholder="Street"
            [formControl]="userForms.at(i).get('addressStreet')"
          />
          <input
            placeholder="Suite"
            [formControl]="userForms.at(i).get('addressSuite')"
          />
          <input
            placeholder="City"
            [formControl]="userForms.at(i).get('addressCity')"
          />
        </div>
        <span *ngIf="editingRowId !== user.id">
          {{ user.address.street }}, {{ user.address.suite }},
          {{ user.address.city }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user; let i = index">
        <button *ngIf="editingRowId !== user.id" (click)="enableEditing(user.id)">
          Edit
        </button>
        <button *ngIf="editingRowId === user.id" (click)="saveEdit(user.id)">
          Save
        </button>
        <button *ngIf="editingRowId === user.id" (click)="cancelEdit()">
          Cancel
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
