/* table{
    background-color: #fafafa;
    color: rgb(90, 125, 131);
    
    margin:10px;
    border: 2px solid ;
    border-collapse: collapse;
    width:100%;
}
table,th,td{
    color:rgb(40, 3, 82);
    border:2px double;
    padding: 5px;
   text-align: center;
}
th{
    background-color: beige;
}
.tableView{
 padding: 5px;
}
.one{
    background-color:teal
} */
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .abc{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
/* Center align the header cells */
th.mat-header-cell {
    text-align: center;
  }
  
  /* Center align the data cells if desired */
  td.mat-cell {
    text-align: center;
  }
  